@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .featured::before {
        content: '';
        position: absolute;
        width: 0.3em;
        height: 100%;
        left: 0;
        background-color: #5DA5A2;
        top: 0;
    }

    .featured_hide::before {
        display: none;
    }

    .background::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 156px;
        top: 0;
        background: url("./assets/bg-header-mobile.svg") no-repeat center/cover;
        z-index: -1;
        background-color: #5DA5A4;     
    }
    
    .background_mobile::before {
        background: url("./assets/bg-header-desktop.svg") no-repeat center/cover;   
        background-color: #5DA5A4;     
    }
}